### Installing Libraries

In [1]:
import pandas as pd
import numpy as np

### Loading & Understanding the Dataset

In [2]:
loan_df_raw = pd.read_csv("loan.csv")

C:\Users\Saroj\AppData\Local\Temp\ipykernel_21556\4182173016.py:1: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_df_raw = pd.read_csv("loan.csv")

In [3]:
loan_df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 2.4+ GB

In [4]:
loan_df_raw.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# List of all the columns

loan_df_raw.columns.tolist()

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

### Data Cleaning

#### Dataset Integrity

In [6]:
# Preserving the raw dataset

loan_df_clean = loan_df_raw.copy()

In [7]:
# Checking for duplilcates

loan_df_clean[loan_df_clean.duplicated()]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 145 columns]

#### Data Type Fixes

In [8]:
# Checking percentage columns

loan_df_clean["int_rate"].dtype

dtype('float64')

In [9]:
loan_df_clean["revol_util"].dtype

dtype('float64')

In [10]:
# Converting "term" column to int

loan_df_clean["term"] = loan_df_clean["term"].str.extract('(\d+)').astype("int")

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Saroj\AppData\Local\Temp\ipykernel_21556\2744729581.py:3: SyntaxWarning: invalid escape sequence '\d'
  loan_df_clean["term"] = loan_df_clean["term"].str.extract('(\d+)').astype("int")

In [11]:
loan_df_clean["term"]

0          36
1          60
2          36
3          36
4          60
           ..
2260663    60
2260664    60
2260665    36
2260666    60
2260667    60
Name: term, Length: 2260668, dtype: int64

In [12]:
# Converting "emp_length" column to "numeric"

emp_map = {
    '10+ years': 10, '9 years': 9, '8 years': 8, '7 years': 7,
    '6 years': 6, '5 years': 5, '4 years': 4, '3 years': 3,
    '2 years': 2, '1 year': 1,
    '< 1 year': 0, 'n/a': None
}

loan_df_clean["emp_length"] = loan_df_clean["emp_length"].map(emp_map)

In [13]:
loan_df_clean["emp_length"].value_counts().sort_index()

emp_length
0.0     189988
1.0     148403
2.0     203677
3.0     180753
4.0     136605
5.0     139698
6.0     102628
7.0      92695
8.0      91914
9.0      79395
10.0    748005
Name: count, dtype: int64

#### Date Handling

In [14]:
loan_df_clean["earliest_cr_line"] = pd.to_datetime(loan_df_clean["earliest_cr_line"])

C:\Users\Saroj\AppData\Local\Temp\ipykernel_21556\3528808446.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  loan_df_clean["earliest_cr_line"] = pd.to_datetime(loan_df_clean["earliest_cr_line"])

In [15]:
loan_df_clean["issue_d"] = pd.to_datetime(loan_df_clean["issue_d"])

C:\Users\Saroj\AppData\Local\Temp\ipykernel_21556\2414575279.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  loan_df_clean["issue_d"] = pd.to_datetime(loan_df_clean["issue_d"])

In [16]:
# Creating Credit History Length column

loan_df_clean["credit_history_years"] = (loan_df_clean["issue_d"].dt.year - loan_df_clean["earliest_cr_line"].dt.year)

In [17]:
loan_df_clean["credit_history_years"]

0          17.0
1          31.0
2           7.0
3          12.0
4          18.0
           ...
2260663    13.0
2260664    14.0
2260665    22.0
2260666    14.0
2260667     3.0
Name: credit_history_years, Length: 2260668, dtype: float64

#### Logical Value Constraints

In [18]:
# Cap utilization ratios

loan_df_clean["revol_util"] = loan_df_clean["revol_util"].clip(0, 100)

loan_df_clean["bc_util"] = loan_df_clean["bc_util"].clip(0, 100)

In [19]:
# Removing impossible values

loan_df_clean = loan_df_clean[loan_df_clean["annual_inc"] > 0]

loan_df_clean = loan_df_clean[loan_df_clean["loan_amnt"] > 0]

#### Handling Missing Values

In [20]:
loan_df_clean["emp_length"] = loan_df_clean["emp_length"].fillna(-1)

### Target Variable Creation

In [21]:
default_map = {
    'Charged Off': 1,
    'Default': 1,
    'Late (31-120 days)': 1,
    'Does not meet the credit policy. Status:Charged Off': 1,
    
    'Fully Paid': 0,
    'Current': 0,
    'In Grace Period': 0,
    'Late (16-30 days)': 0,
    'Does not meet the credit policy. Status:Fully Paid': 0
}

loan_df_clean["loan_default"] = loan_df_clean["loan_status"].map(default_map)

In [22]:
loan_df_clean["loan_default"].value_counts()

loan_default
0    1974740
1     284257
Name: count, dtype: int64

In [23]:
loan_df_clean["loan_default"].isnull().sum()

np.int64(0)

### Exporting the Clean Dataset

In [ ]:
loan_df_clean.to_csv("loan_df_clean.csv", index=False)

### Creating a Dataset for Analysis

In [178]:
analytics_features = [
    # Loan details
    'loan_amnt','term','int_rate','installment',
    'grade','sub_grade','purpose','initial_list_status',

    # Borrower profile
    'annual_inc','verification_status','emp_length',
    'home_ownership','dti',

    # Credit history
    'credit_history_years','open_acc','total_acc',
    'delinq_2yrs','pub_rec','inq_last_6mths',
    'acc_now_delinq','mort_acc',

    # Credit utilization
    'revol_util','bc_util','percent_bc_gt_75',

    # Delinquency signals
    'num_accts_ever_120_pd',
    'num_tl_30dpd',
    'num_tl_90g_dpd_24m'
]

loan_df_analytics = loan_df_clean[analytics_features + ["loan_default"]]

In [181]:
loan_df_analytics.head()

,loan_amnt,term,int_rate,installment,grade,sub_grade,purpose,initial_list_status,annual_inc,verification_status,...,inq_last_6mths,acc_now_delinq,mort_acc,revol_util,bc_util,percent_bc_gt_75,num_accts_ever_120_pd,num_tl_30dpd,num_tl_90g_dpd_24m,loan_default
0,2500,36,13.56,84.92,C,C1,debt_consolidation,w,55000.0,Not Verified,...,1.0,0.0,0.0,10.3,5.9,0.0,0.0,0.0,0.0,0
1,30000,60,18.94,777.23,D,D2,debt_consolidation,w,90000.0,Source Verified,...,0.0,0.0,3.0,24.2,8.3,0.0,0.0,0.0,0.0,0
2,5000,36,17.97,180.69,D,D1,debt_consolidation,w,59280.0,Source Verified,...,0.0,0.0,2.0,19.1,0.0,0.0,0.0,0.0,0.0,0
3,4000,36,18.94,146.51,D,D2,debt_consolidation,w,92000.0,Source Verified,...,0.0,0.0,3.0,78.1,75.2,100.0,0.0,0.0,0.0,0
4,30000,60,16.14,731.78,C,C4,debt_consolidation,w,57250.0,Not Verified,...,0.0,0.0,2.0,3.6,8.9,0.0,0.0,0.0,0.0,0

In [180]:
loan_df_analytics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2258997 entries, 0 to 2260667
Data columns (total 28 columns):
 #   Column                 Dtype
---  ------                 -----
 0   loan_amnt              int64
 1   term                   int64
 2   int_rate               float64
 3   installment            float64
 4   grade                  object
 5   sub_grade              object
 6   purpose                object
 7   initial_list_status    object
 8   annual_inc             float64
 9   verification_status    object
 10  emp_length             float64
 11  home_ownership         object
 12  dti                    float64
 13  credit_history_years   float64
 14  open_acc               float64
 15  total_acc              float64
 16  delinq_2yrs            float64
 17  pub_rec                float64
 18  inq_last_6mths         float64
 19  acc_now_delinq         float64
 20  mort_acc               float64
 21  revol_util             float64
 22  bc_util                float64
 23  percent_bc_gt_75       float64
 24  num_accts_ever_120_pd  float64
 25  num_tl_30dpd           float64
 26  num_tl_90g_dpd_24m     float64
 27  loan_default           int64
dtypes: float64(19), int64(3), object(6)
memory usage: 499.8+ MB

In [182]:
loan_df_analytics["loan_default"].value_counts(normalize=True)

loan_default
0    0.874167
1    0.125833
Name: proportion, dtype: float64

In [185]:
# Exporting the csv file

loan_df_analytics.to_csv("loan_df_analytics.csv", index=False)